.login {
	
	height: 70px;
	font-family: $font-family-first;
	text-transform: uppercase;
	position: relative;
	top: 0;
	left: 56px;
	&__link {
			color: $text-white;
			width: 17%;
			background-image: url("../img/login.png");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	&:before {
    // @include sprite($password);
    // content: $password;
    	content: '';
    	position: absolute;
    	width: 34px;
    	height: 17px;
    	top:20px;
    	left:-40px;
    	background-image: url("../img/password.svg");


	}
}