.page-header {
	&__inner{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		flex-direction: column;
		@media (min-width: 1110px) {
			flex-direction: row;
		}
	}

  // color: $text-color;
  // @media (min-width: $screen-lg) {
 	// 	background-color: #111;
 	// 	color: #fff;
 	// }
  // &__inner {
  // 	@media (min-width: $screen-lg) {
  // 		width: $screen-lg;
  // 		margin: auto;
  // 	}
  // }
}
