.page-header {
  color: $text-color;
  @media (min-width: $screen-lg) {
 		background-color: #111;
 		color: #fff;
 	}
  &__inner {
  	@media (min-width: $screen-lg) {
  		width: $screen-lg;
  		margin: auto;
  	}
  }
}
