promo {
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #bada55;
	padding: 1em;
	color: #fff;
	&__inner {
		 @media (min-width: $screen-lg) {
 		width: $screen-lg;
 		margin:auto;
 		 	}
	}
}