$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   1024px;
$screen-lg:                   1200px;
$screen-xl:                   1920px;

$text-color:                  #000;
$text-grey: #999;
$text-white: #fff;

$font-family:                 'Open Sans_my', sans-serif;
$font-size:                   14px;
$font-size-second:                   19px;


$font-family-first:                 'BenderBold', sans-serif;
$font-family-second:                 'Roboto', sans-serif;



